<section class="developer-card">
  <div class="container developer-card-container">
    <h2 class="visually-hidden">About me</h2>
    <ul class="developer-card-list">
      <li class="developer-text-item">
        <p class="developer-card-text">
          I work with people all over the world to create impressive and
          <span class="span-text-red">functional</span>
          <span class="span-text-grey">websites</span> that reflect each client's unique
          personality.
        </p>
      </li>
      <li class="developer-card-item">
        <picture>
          <source
            srcset="./img/aboutme_up/developer-photo-desk-1x.png"
            media="(min-width: 1440px)"
          />
          <source srcset="./img/aboutme_up/developer-photo-tab-1x.png" media="(min-width: 768px)" />
          <source srcset="./img/aboutme_up/developer-photo-mob-1x.png" media="(min-width: 375px)" />
          <img
            class="developer-card-photo"
            src="./img/aboutme_up/developer-photo-mob-1x.png"
            alt="Photo Lloyd Jefferson"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
