<section class="changecolor">
  <div class="menu">
    <button type="button" class="open_theme">ChangeTheme</button>

    <ul class="js_menu_changecolor">
      <li class="menu-item">
        <button type="button" class="theme_button" data_id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" data_id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" data_id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" data_id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" data_id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" data_id></button>
      </li>
    </ul>
  </div>
  <script type="module" src="./js/changecolor.js"></script>
</section>