<div class="changecolor">
  <div class="menu">
    <button type="button" class="open_theme">ChangeTheme</button>

    <ul class="js_menu_changecolor">
      <li class="menu-item">
        <button type="button" class="theme_button" aria-label="red theme" data-id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" aria-label="green theme" data-id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" aria-label="blue theme" data-id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" aria-label="ligthred theme" data-id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" aria-label="iceberg theme" data-id></button>
      </li>
      <li class="menu-item">
        <button type="button" class="theme_button" aria-label="orange theme" data-id></button>
      </li>
    </ul>
  </div>
</div>