<section class="covers">
<div class="container cover-container"> 
    <h2 class="title">title</h2>
    <div class="wrap">
    <ul class="line line-one">
        <li class="cover-list">
           <!--<img class = "cover-img" src="../img/covers/screen61x.png" alt="">-->
        </li>
    </ul>
    <ul class="line line-two">
        <li class="cover-list">
          <!--<picture>
            <source srcset="../img/covers/screen101x.png, ../img/covers/screen102x.png 2x" media="(min-width: 375px)">
            <img class="cover-img" 
            src="../img/covers/screen101x.png" 
            alt="">
            </picture>-->
        </li>
        <li class="cover-list">
          <!--<picture>
            <source srcset="../img/covers/screen71x.png, ../img/covers/screen71x.png 2x" media="(min-width: 375px)">
            <img class="cover-img" 
            src="../img/covers/screen71x.png" 
            alt="">
            </picture>-->
        </li>
    </ul>
    <ul class="line line-three">
        <li class="cover-list">
        <!-- <picture>
            <source srcset="../img/covers/screen111x.png, ../img/covers/screen112x.png 2x" media="(min-width: 375px)">
            <img class="cover-img" 
            src="../img/covers/screen111x.png" 
            alt="">
            </picture>-->
        </li>
        <li class="cover-list ">
          <!--<picture>
            <source srcset="../img/covers/screen1x.png, ../img/covers/screen2x.png 2x" media="(min-width: 375px)">
            <img class="cover-img" 
            src="../img/covers/screen1x.png" 
            alt="">
            </picture>-->
        </li>
        <li class="cover-list">
          <!--<picture>
            <source srcset="../img/covers/screen81x.png, ../img/covers/screen82x.png 2x" media="(min-width: 375px)">
            <img class="cover-img" 
            src="../img/covers/screen81x.png" 
            alt="">
            </picture>-->
        </li>
    </ul>
    <ul class="line line-four">
        <li class="cover-list">
          <!--<picture>
            <source srcset="../img/covers/screen91x.png, ../img/covers/screen92x.png 2x" media="(min-width: 375px)">
            <img class="cover-img" 
            src="../img/covers/screen91x.png" 
            alt="">
            </picture>-->
        </li>
        <li class="cover-list">
          <!--<picture>
            <source srcset="../img/covers/screen41x.png, ../img/covers/screen42x.png 2x" media="(min-width: 375px)">
            <img class="cover-img" 
            src="../img/covers/screen41x.png" 
            alt="">
            </picture>-->
        </li>
        <li class="cover-list">
         <!-- <picture>
            <source srcset="../img/covers/screen51x.png, ../img/covers/screen52x.png 2x" media="(min-width: 375px)">
            <img class="cover-img" 
            src="../img/covers/screen51x.png" 
            alt="">
            </picture>-->
        </li>
    </ul>
    </ul>
    <ul class="line line-five">
        <li class="cover-list">
          <!--<picture>
            <source srcset="../img/covers/screen121x.png, ../img/covers/screen122x.png 2x" media="(min-width: 375px)">
            <img class="cover-img" 
            src="../img/covers/screen121x.png" 
            alt="">
            </picture>-->
        </li>
    </ul>
    </div>
    <svg class="background-svg" width="1872" height="1408" viewBox="0 0 1872 1408" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_f_244_357)">
    <circle class="circleColor" cx="347" cy="545" r="175" fill="#ED3B44" fill-opacity="0.6" />
  </g>
  <g filter="url(#filter1_f_244_357)">
    <circle class="circleColor" cx="775" cy="347" r="175" fill="#ED3B44" fill-opacity="0.6" />
  </g>
  <g filter="url(#filter2_f_244_357)">
    <circle class="circleColor" cx="1525" cy="1061" r="175" fill="#ED3B44" fill-opacity="0.6" />
  </g>
  <defs>
    <filter id="filter0_f_244_357" x="0" y="198" width="694" height="694" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="86" result="effect1_foregroundBlur_244_357" />
    </filter>
    <filter id="filter1_f_244_357" x="428" y="0" width="694" height="694" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="86" result="effect1_foregroundBlur_244_357" />
    </filter>
    <filter id="filter2_f_244_357" x="1178" y="714" width="694" height="694" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix" />
      <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
      <feGaussianBlur stdDeviation="86" result="effect1_foregroundBlur_244_357" />
    </filter>
  </defs>
</svg>
</div>
</section>
<script type="module" src="./js/covers.js"></script>
