<footer id="work-together" class="footer">
  <div class="container">
    <h2 class="footer-title">
      <img src="./img/footer/mob-logo@1x.webp" alt="logo" />Let’s
      <span class="footer-accent-text">work</span>together
    </h2>

    <form class="js-footer-form footer-contacts-form" name="contact-us" autocomplete="off">
      <div class="contacts-form-field">
        <input
          type="email"
          name="emailContact"
          class="contacts-form-inp input"
          id="email"
          autocomplete="on"
          required
          placeholder=" "
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <label for="email" class="contacts-form-label">clients@gmail.com</label>
        <span class="valid-notify">Succes!</span>
        <span class="invalid-notify">Invalid email, try again</span>
      </div>

      <div class="contacts-form-field">
        <textarea
          name="comment"
          id="Comment"
          class="contacts-form-inp contacts-form-textarea"
          placeholder="Text us"
          required
        ></textarea>
        <label for="Comment" class="contacts-form-label textarea">comments</label>
      </div>

      <button class="contacts-form-btn" type="submit">Send</button>
    </form>

    <ul class="footer-contacts-list">
      <li class="footer-contacts-item">
        <a href="mailto:lloydjefferson@gmail.com" class="footer-contacts-link"
          >lloydjefferson@gmail.com</a
        >
      </li>
      <li class="footer-contacts-item">
        <a href="tel:+3801111111111" class="footer-contacts-link">+380 11 1111 11 11</a>
      </li>
    </ul>
  </div>
</footer>
<script type="module" src="./js/footer.js"></script>
