<footer class="footer">
  <div class="container">
    <img src="../img/footer/logo@1x.png" alt="logo" />
    <h2 class="footer-title">Let’s work together</h2>

    <form class="footer-contacts-form" name="contact-us" autocomplete="off">
      <div class="contacts-form-field">
        <input
          type="email"
          name="email-contact"
          class="contacts-form-inp"
          id="email"
          autocomplete="on"
          required
          placeholder=" "
        />
        <label for="email" class="contacts-form-label">clients@gmail.com</label>
      </div>

      <div class="contacts-form-field">
        <textarea
          name="Comment"
          id="Comment"
          class="contacts-form-inp"
          placeholder="Text us"
        ></textarea>
        <label for="Comment" class="contacts-form-label">comments</label>
      </div>

      <button class="contacts-form-btn" type="submit">Send</button>
    </form>

    <ul class="footer-contacts-list">
      <li class="footer-contacts-item">
        <a href="mailto:lloydjefferson@gmail.com" class="footer-contacts-link"
          >lloydjefferson@gmail.com</a
        >
      </li>
      <li class="footer-contacts-item">
        <a href="tel:+3801111111111" class="footer-contacts-link">+380 11 1111 11 11</a>
      </li>
    </ul>
  </div>
</footer>
