<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="logo-wrapper">
        <a href="./index.html" class="image-wrapper">
          <img src="/img/header/image.png" alt="logo" width="80" height="80" />
          <p class="logo-text">jefferson*</p>
        </a>
      </div>

      <!-- <nav class="navigation-header">Menu</nav> -->
      <!-- <nav class="nav-menu">
        <input type="checkbox" class="custom-checkbox" id="menu-toggle" />
        <label for="menu-toggle" class="menu-button" aria-label="Open menu">Menu</label>
        <ul class="custom-list">
          <li class="menu-list-item" aria-label="Go to section About me">
            <a href="#aboutme-section">About me</a>
          </li>
          <li class="menu-list-item">
            <a href="#benefits-section" aria-label="Go to section Benefits">Benefits</a>
          </li>
          <li class="menu-list-item">
            <a href="#projects-section" aria-label="Go to section Projects">Projects</a>
          </li>
          <li class="menu-list-item" aria-label="Go to section FAQ">
            <a href="#faq-section">FAQ</a>
          </li>
        </ul>
      </nav> -->
      <div class="nav-menu">
        <span class="menu-word">Menu</span>
        <nav>
          <ul class="custom-list">
            <li class="menu-list-item" aria-label="Go to section About me">
              <a href="#aboutme-section">About me</a>
            </li>
            <li class="menu-list-item">
              <a href="#benefits-section" aria-label="Go to section Benefits">Benefits</a>
            </li>
            <li class="menu-list-item">
              <a href="#projects-section" aria-label="Go to section Projects">Projects</a>
            </li>
            <li class="menu-list-item" aria-label="Go to section FAQ">
              <a href="#faq-section">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
      <!--  -->
      <div class="two-btn-wrapper">
        <button type="button" class="change-theme">Themes</button>

        <button type="button" data-modal-open class="order-btn">Order the project</button>
      </div>

      <button class="open-burger" tabindex="-1" aria-label="open modal window">
        <svg class="burger-icon" width="21" height="8.7">
          <use href="./img/header/header-svg.svg#icon-burger"></use>
        </svg>
      </button>

      <!--Modal window  -->
      <!-- is-open добавить ниже -->
      <div class="modal-overlay">
        <div class="modal">
          <div class="js_image_modal"></div>
          <nav class="navigation-modal">
            <ul class="nav-list">
              <li class="nav-item">
                <a
                  href="#aboutme-section"
                  class="modal-text"
                  tabindex="-1"
                  aria-label="Go to section About me"
                >About me</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#benefits-section"
                  class="modal-text"
                  tabindex="-1"
                  aria-label="Go to section Benefits"
                >Benefits</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#projects-section"
                  class="modal-text"
                  tabindex="-1"
                  aria-label="Go to section Project"
                >Projects</a
                >
              </li>
              <li class="nav-item">
                <a
                  href="#faq-section"
                  class="modal-text"
                  tabindex="-1"
                  aria-label="Go to section FAQ"
                >FAQ</a
                >
              </li>
            </ul>
          </nav>
          <a
            tabindex="-1"
            href="#work-together"
            class="modal-link-to-footer order-mobile"
            aria-label="Go to section Work together"
          >Order the project
            <!-- <button type="button" class="order-mobile"></button> -->
          </a>
        </div>
        <button type="button" tabindex="-1" class="close-btn" aria-label="close modal window">
          <svg width="28" height="28" class="modal-close-btn">
            <use href="./img/header/header-svg.svg#icon-close"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="changecolor">
    <div class="menu">
      <ul class="js_menu_changecolor">
        <li class="menu-item">
          <button type="button" class="theme_button" aria-label="red theme" tabindex="-1" data-id></button>
        </li>
        <li class="menu-item">
          <button type="button" class="theme_button" aria-label="green theme" tabindex="-1" data-id></button>
        </li>
        <li class="menu-item">
          <button type="button" class="theme_button" aria-label="blue theme" tabindex="-1" data-id></button>
        </li>
        <li class="menu-item">
          <button type="button" class="theme_button" aria-label="ligthred theme" tabindex="-1" data-id></button>
        </li>
        <li class="menu-item">
          <button type="button" class="theme_button" aria-label="iceberg theme" tabindex="-1" ata-id></button>
        </li>
        <li class="menu-item">
          <button type="button" class="theme_button" aria-label="orange theme" tabindex="-1" data-id></button>
        </li>
      </ul>
    </div>
  </div>
</header>
