<header class="header">
  <div class="container">
    <div class="header-container">
      <div class="logo-wrapper">
        <a href="./index.html" class="image-wrapper">
          <img src="../img/header/image.png" alt="logo" width="80" height="80" />
          <p class="logo-text">jefferson*</p>
        </a>
      </div>
      <nav class="navigation-header">Menu</nav>
      <button class="open-burger"  >
      <svg class="burger-icon" width="28" height="28">
        <use href="./img/header/header-svg.svg#icon-burger"></use>
      </svg>
      </button>

      <!--Modal window  -->

      <!-- <div class="navigation-wrapper is-open-mob">
        <div class="modal-mob-menu ">
        <nav class="header-navigation">
          <ul class="header-navigation-list">
            <li class="header-navigation-item">
              <a
                href="#aboutme"
                class="header-navigation-link"
                >About me</a
              >
            </li>
            <li class="header-navigation-item">
              <a href="#benefits" class="header-navigation-link"
                >Benefits</a
              >
            </li>
            <li class="header-navigation-item">
              <a href="#projects" class="header-navigation-link"
                >Projects</a
              >
            </li>
            <li class="header-navigation-item">
              <a href="#faq" class="header-navigation-link"
                >FAQ</a
              >
            </li>
          </ul>
        </nav>
        </div>
        <button type="button" class="header-btn"></button>
        <button type="button" class="close-menu-btn" id="header-burger-open"> -->
          <!-- <svg class="header-close-icon" width="32" height="32">
            <use href="/images/icon.svg#icon-close"></use>
          </svg> -->
        <!-- </button>
    </div> -->
  </div>
</header>
