<section class="hero">
  <div class="container hero_container">
    <div class="js_image"></div>
    <h1 class="headline1">
      Hello.<br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="social_media">
      <li class="social_item">
        <a href="https://www.instagram.com/goitclub/" class="social_link">IG</a>
      </li>
      <li class="social_item">
        <a href="https://www.facebook.com/goITclub/" class="social_link">FB</a>
      </li>
      <li class="social_item">
        <a href="https://www.youtube.com/c/GoIT" class="social_link">YT</a>
      </li>
      <li class="social_item"><a href="" class="social_link">GH</a></li>
      <li class="social_item"><a href="" class="social_link">lloydjefferson@gmail.com</a></li>
    </ul>
  </div>

  <input type="text" name="themid" id="themid" class="inputid" />
  <button type="button" class="button_color">++++++++++</button>
  <script type="module" src="./js/hero_background.js"></script>
</section>
