<section class="section projects">
  <div class="container">
    <h2 class="proj-title">projects</h2>
    <div class="swiper-container">
      <div class="swiper-wrapper" id="swiper-wrapper"></div>
    </div>
  </div>
  <div class="proj-btn-wrap">
    <div class="proj-nav-btn proj-btn-prev">
      <svg class="proj-arrow-icon">
        <use href="./img/icons.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="proj-nav-btn proj-btn-next">
      <svg class="proj-arrow-icon"><use href="./img/icons.svg#icon-arrow-right"></use></svg>
    </div>
  </div>
</section>

<!-- ====Skripts======= -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module" src="/js/projects.js"></script>
