<section class="section projects" id="projects-section">
  <div class="container">
    <h2 class="proj-title">projects</h2>
    <div class="swiper-container">
      <ul class="swiper-wrapper proj-swiper-wrap" id="swiper-wrapper"></ul>
    </div>
  </div>
  <div class="proj-btn-wrap">
    <div class="proj-nav-btn proj-btn-prev" aria-label="go to prev progect">
      <svg class="proj-arrow-icon">
        <use href="./img/icons.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="proj-nav-btn proj-btn-next" aria-label="go to next project">
      <svg class="proj-arrow-icon">
        <use href="./img/icons.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
</section>


<script type="module" src="/js/projects.js"></script>
