.developer-card-container {
    padding-top: var(--pb-medium);
    padding-bottom: var(--pb-medium);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: var(--gap-cards);

}

.developer-text-item {
    border-radius: 24px;
    background: var(--cards);
}

.developer-card-text {
    min-height: 500px;
    text-align: left;
    padding: 32px 32px 0 32px;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: var(--main-text);
}

.span-text-red {
    color: var(--akcent-collor);
}

.span-text-grey {
    color: rgba(250, 250, 250, 0.4);
}

.developer-card-item {
    border-radius: 24px;
    background-color: var(--cards);
}

.developer-card-photo img {
    border-radius: 24px;
    max-height: 500px;
    aspect-ratio: 343 / 500;
    object-fit: cover;
    object-position: center;
}

@media screen and (min-width: 768px) {

    .developer-card-text {
        padding: 64px 64px 0;
        min-height: 700px;
        font-size: 38px;
        line-height: 1.05;
    }

    .developer-card-photo img {
        max-height: 700px;
        aspect-ratio: 704 / 700;

    }
}

/***   media 1440px  ***/

@media screen and (min-width: 1440px) {
    .developer-card-container {
        flex-direction: row;

    }


    .developer-text-item {
        flex: 1;
    }

    .developer-card-text {
        font-size: 36px;
    }

    .developer-card-item {
        flex: 1;
    }

}
