.faq-container {
  padding-top: var(--pb-medium);
}

.ac-wrap {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.accordion-container {
  display: flex;
  flex-direction: column;
}

.faq-title {
  font-weight: 600;
  font-size: 16px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: rgba(250, 250, 250, 0.4);
  text-transform: uppercase;
  margin-bottom: var(--mb-small);
}

.accordion-container .ac {
  background-color: transparent;
  border: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.accordion-container .ac-first:first-child {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.ac .ac-header .ac-trigger {
  font-weight: 600;
  font-size: 20px;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--main-text);
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ac .ac-header .ac-trigger:focus {
  color: var(--main-text);
}

.ac .ac-header .ac-trigger::after {
  display: none;
}

.ac.is-active > .ac-header .ac-trigger::after {
  display: none;
}
.svg-wrap {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
}

.icon {
  fill: var(--main-text);
  display: inline-block;
  margin: 0 auto;
  transform: rotate(180deg) translateY(25%);
  transition: transform var(--trns);
}

.ac.is-active .icon {
  transform: rotate(0deg);
  transition: transform var(--trns);
}

.accordion-container .ac .ac-panel .ac-text {
  font-weight: var(--font-weight);
  font-size: 16px;
  color: var(--form-color);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  padding: 0;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .faq-container {
    padding-top: var(--pb-big);
  }
  .accordion-container .ac {
    padding-top: var(--pb-small);
    padding-bottom: 24px;
  }

  .svg-wrap {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .faq-container {
    padding-top: var(--pb-huge);
  }

  .ac-wrap {
    flex-direction: row;
  }

  .accordion-container .ac-second {
    border-left: 1px solid rgba(250, 250, 250, 0.2);
    padding-left: var(--pb-small);
  }

  .accordion-container .ac-first {
    padding-right: 32px;
  }
  .accordion-container .ac-second:first-child {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
  }

  .accordion-container .ac {
    padding-bottom: 26px;
  }

  .accordion-container .ac-first:last-child {
    padding-bottom: 46px;
  }

  .accordion-container .ac-second .svg-wrap {
    margin-left: 100px;
  }
}
