textarea {
  resize: none;
}

.footer {
  padding-top: var(--pb-small);
  padding-bottom: var(--pb-small);
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 80px;
    padding-bottom: 169px;
  }
}

.footer {
  background-image: url(../img/footer/bg-mob@1x.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 22.5% 100%;
}

@media screen and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
  .footer {
    background-image: url(../img/footer/bg-mob@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url(../img/footer/bg-tab@1x.png);
    background-size: 25.8% 100%;
  }

  @media screen and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/footer/bg-tab@2x.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    background-image: url(../img/footer/bg-desctop@1x.png);
    background-size: 26.8% 100%;
  }

  @media screen and (min-resolution: 192dpi) and (min-resolution: 2dppx) {
    .footer {
      background-image: url(../img/footer/bg-desctop@2x.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .footer > .container {
    padding-left: 196px;
  }
}

.footer-title {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 4px 8px;
  margin-bottom: 63px;

  font-weight: var(--font-weight);
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .footer-title {
    max-width: 542px;
    margin-bottom: 64px;
    gap: 7px 20px;

    font-size: 64px;
  }
}

.footer-accent-text {
  margin-left: 2px;
  color: var(--akcent-collor);
}

@media screen and (min-width: 768px) {
  .footer-accent-text {
    margin-left: -6px;
  }
}

.footer-contacts-form {
  margin-bottom: var(--pb-medium);
  display: flex;
  flex-direction: column;
  gap: 26px;
  margin-bottom: 55px;
}

@media screen and (min-width: 768px) {
  .footer-contacts-form {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin-bottom: 18px;
  }
}

.contacts-form-field {
  position: relative;
}

.contacts-form-field + .contacts-form-field {
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .contacts-form-field + .contacts-form-field {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-form-field + .contacts-form-field {
    margin-right: 54px;
  }
}

.contacts-form-inp {
  width: 100%;
  height: 44px;
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--main-text);
  background-color: transparent;

  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  transition: border-color var(--trns);
}

.contacts-form-inp.input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .contacts-form-inp {
    width: 245px;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-form-inp {
    width: 390px;
  }
}

.contacts-form-inp::placeholder {
  color: var(--form-color);
}

.contacts-form-textarea {
  display: block;
}

.contacts-form-label {
  position: absolute;
  top: 10px;
  left: 2px;
  transform: scale(1);

  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--form-color);

  transition: transform 470ms var(--cubic);
}

.contacts-form-label.textarea {
  transition: transform 540ms var(--cubic);
}

@media screen and (min-width: 768px) {
  .contacts-form-label {
    transition: transform 400ms var(--cubic);
  }
  .contacts-form-label.textarea {
    transition: transform 470ms var(--cubic);
  }
}

@media screen and (min-width: 1440px) {
  .contacts-form-label {
    transition: transform 500ms var(--cubic);
  }
  .contacts-form-label.textarea {
    transition: transform 600ms var(--cubic);
  }
}

.contacts-form-textarea::placeholder {
  opacity: 0;
  transition: opacity 350ms var(--cubic);
}
.contacts-form-textarea:focus::placeholder {
  opacity: 1;
  transition: opacity 300ms 270ms var(--cubic);
}

@media screen and (min-width: 768px) {
  .contacts-form-textarea:focus::placeholder {
    transition: opacity 350ms 170ms var(--cubic);
  }
}

@media screen and (min-width: 1440px) {
  .contacts-form-textarea:focus::placeholder {
    transition: opacity 380ms 280ms var(--cubic);
  }
}

.contacts-form-inp:focus + .contacts-form-label,
.contacts-form-inp:not(:placeholder-shown) + .contacts-form-label {
  transform: translate(225px, -29px) scale(0.8);
  color: rgba(250, 250, 250, 0.3);
}
.contacts-form-inp:focus + .contacts-form-label.textarea,
.contacts-form-inp:not(:placeholder-shown) + .contacts-form-label.textarea {
  transform: translate(274px, -29px) scale(0.8);
  color: rgba(250, 250, 250, 0.3);
}

@media screen and (min-width: 768px) {
  .contacts-form-inp:focus + .contacts-form-label,
  .contacts-form-inp:not(:placeholder-shown) + .contacts-form-label {
    transform: translate(115px, -29px);
  }
  .contacts-form-inp:focus + .contacts-form-label.textarea,
  .contacts-form-inp:not(:placeholder-shown) + .contacts-form-label.textarea {
    transform: translate(170px, -29px);
  }
}

@media screen and (min-width: 1440px) {
  .contacts-form-inp:focus + .contacts-form-label,
  .contacts-form-inp:not(:placeholder-shown) + .contacts-form-label {
    transform: translate(258px, -29px);
  }
  .contacts-form-inp:focus + .contacts-form-label.textarea,
  .contacts-form-inp:not(:placeholder-shown) + .contacts-form-label.textarea {
    transform: translate(312px, -29px);
  }
}

.contacts-form-inp:not(:placeholder-shown),
.contacts-form-inp:focus {
  border-color: rgba(250, 250, 250, 0.5);
}

.contacts-form-inp::selection {
  background-color: transparent;
}

.contacts-form-inp.input:not(:focus):not(:placeholder-shown):valid {
  border-color: var(--success-color);
}
.contacts-form-inp.input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--invalid-color);
}

.valid-notify,
.invalid-notify {
  position: absolute;
  bottom: -24px;
  left: 0;
  color: var(--success-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 350ms var(--cubic), visibility 350ms var(--cubic);
}

.invalid-notify {
  color: var(--invalid-color);
}

.contacts-form-inp.input:not(:focus):not(:placeholder-shown):valid
  + .contacts-form-label
  + .valid-notify,
.contacts-form-inp.input:not(:focus):not(:placeholder-shown):invalid
  + .contacts-form-label
  + .valid-notify
  + .invalid-notify {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 350ms 200ms var(--cubic), visibility 350ms var(--cubic);
}

.spinner-wrap {
  position: relative;
  height: 100px;
}

@media screen and (min-width: 768px) {
  .spinner-wrap {
    height: 150px;
  }
}

.contacts-form-btn {
  width: 100px;
  height: 100px;

  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);

  border-radius: 100%;
  background-color: var(--akcent-collor);
}

@media screen and (min-width: 768px) {
  .contacts-form-btn {
    width: 150px;
    height: 150px;
  }
}

.footer-contacts-list {
  display: flex;
  gap: var(--gap-mob-contacts);
}

@media screen and (min-width: 768px) {
  .footer-contacts-list {
    gap: var(--gap-contacts);
  }
}

.contacts-form-btn:hover,
.contacts-form-btn:focus {
  background-color: var(--aÑcent-collor-hover);
}

.footer-contacts-link {
  display: block;
  padding: 10px 12px;
  font-weight: var(--font-weight);
  font-size: 14px;
  letter-spacing: var(--letter-spacing);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  color: var(--main-text);

  transition: border-color 350ms var(--cubic);
}

@media screen and (min-width: 768px) {
  .footer-contacts-link {
    padding: 18px 32px;
    font-size: 16px;
  }
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  border-color: var(--main-text);
}

/** iziToast - style */

.iziToast-wrapper > .iziToast-capsule > .infoNotify {
  position: relative;
  max-width: 343px;
  padding: 64px 32px;

  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.1);
}

.iziToast-wrapper > .iziToast-capsule > .emptyNotify,
.iziToast-wrapper > .iziToast-capsule > .errorNotify {
  position: relative;

  border-radius: 20px;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .iziToast-wrapper > .iziToast-capsule > .infoNotify {
    max-width: 494px;
    padding: 64px;
  }
}

.iziToast-capsule > .infoNotify > .iziToast-body {
  margin-left: 0;
  padding-left: 0;
}

.iziToast-capsule > .infoNotify > .iziToast-body > .iziToast-texts {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 0;
  padding-right: 0;
}

.iziToast-capsule > .infoNotify > .iziToast-body .iziToast-message {
  margin-bottom: 0;

  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-align: center;
}

.iziToast-capsule > .infoNotify > .iziToast-close,
.iziToast-capsule > .emptyNotify > .iziToast-close,
.iziToast-capsule > .errorNotify > .iziToast-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 22px;
  height: 22px;

  background-image: url(../img/footer/modal-close-notify.svg);
  background-size: 22px 22px;
}

.iziToast-capsule > .errorNotify > .iziToast-close {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .iziToast-capsule > .infoNotify > .iziToast-close {
    background-size: 24px 24px;
  }
}

.loader {
  position: absolute;
  top: 25%;
  left: 26px;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@media screen and (min-width: 768px) {
  .loader {
    top: 32%;
    left: 49px;
    width: 53px;
    height: 53px;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.is-hidden {
  display: none;
}
