.header {
    position: absolute;
    padding-top: var(--pb-small);
    width: 100%;
    background-color: transparent;
    z-index: 50;
}

.header-container {
    display: flex;
    flex-direction: row;
}

.logo-wrapper {
    display: flex;
    flex-grow: 1;
}

.image-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.logo-text {
    color: var(--main-text);
}

.navigation-header {
    font-family: "Inter Tight", sans-serif;
    font-weight: var(--font-weight);
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
}

.burger-icon {
    width: 28px;
    height: 28px;
    fill: transparent;
    stroke-width: 2px;
    stroke: var(--main-text);
}

.open-burger {
    display: flex;
    align-items: flex-start;
}

/* .open-burger{
    fill: var(--main-text);
} */

.open-burger:focus,
.open-burger:hover {
    color: var(--aсcent-collor-hover)
}

.burger-icon:hover{
    stroke: var(--aсcent-collor-hover);
}

.burger-icon:focus{
    stroke: var(--aсcent-collor-hover);
}

.two-btn-wrapper {
    font-family: 'Courier New', Courier, monospace;
}

/*  */
/* .nav-menu {
    display: none;
}

.menu-button {
    cursor: pointer;
    display: inline-block;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
    background: none;
    border: none;
    padding: 0;
    text-decoration: underline;
}

.custom-checkbox:checked ~ .custom-list .menu-list-item a:hover,
.custom-checkbox:checked ~ .custom-list .menu-list-item a:focus {
    color: var(--aсcent-collor-hover);
}


.custom-list {
    list-style: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    background-color: transparent;
    padding: 0;
    margin: 0;
    z-index: 1000;
    text-align: center;
    width: max-content;
}

.menu-list-item {
    padding: 5px;
}

.menu-list-item a {
    text-decoration: none;
    color: var(--main-text);
}

.change-theme:hover,
.change-theme:focus {
    background-color: var(--aсcent-collor-hover);
}


.custom-checkbox {
    display: none;
}


.custom-checkbox:checked ~ .custom-list {
    transform: translateX(-50%) scaleY(1);
    opacity: 1;

} */

.nav-menu {
    /* position: relative;
    display: inline-block;
    width: max-content;
    margin: 0 auto;
    padding-top: 13px;
    cursor: pointer; */
    display: none;
}

.menu-word{
    font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: -0.02em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #fafafa;
}

.menu-word:hover{
    color: var(--aсcent-collor-hover);
}

.menu-word:focus {
    color: var(--aсcent-collor-hover);
}

.custom-list {
    position: absolute;
    top: 40%;
    left: 65%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.75s cubic-bezier(0.47, 0, 0.745, 0.715), visibility 0.75s cubic-bezier(0.47, 0, 0.745, 0.715);
    background-color: transparent;
    padding: 8px;
    list-style: none;
}

.menu-list-item {
    padding: 5px;
}

.menu-list-item a {
    text-decoration: none;
    color: var(--main-text);
}
.menu-list-item a:hover,
.menu-list-item a:focus {
    color:var(--aсcent-collor-hover);
}

.is-open-menu {
    opacity: 1;
    visibility: visible;
}


/*  */

/* MODAL WINDOW */
.modal-overlay {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms ease-in-out;
}

.modal {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
}

.modal-overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.modal-overlay.is-open .modal {
    transform: translateX(0);
}

.navigation-modal {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-list {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-item{
padding-bottom: 8px;
}

.modal-text {
    font-family: "Inter Tight", sans-serif;
    font-weight: var(--font-weight);
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fafafa;
}

 /* .modal-overlay.is-open>.menu-list-item a:hover,
 .modal-overlay.is-open>.menu-list-item a:focus,
 .modal-overlay.is-open>.modal-text:hover,
 .modal-overlay.is-open>.modal-text:focus {
     color: var(--aсcent-collor-hover);
 } */

 .modal-overlay .is-open .modal-text:hover{
    color: var(--aсcent-collor-hover);
 }

 .modal-text:focus {
     color: var(--aсcent-collor-hover);
 }  



.close-btn {
    border: none;
    background-color: transparent;
    fill: #fbfbfb;
    position: absolute;
    top: 32px;
    right: 16px;
}


.close-btn.modal {
    width: 28px;
    height: 28px;
    fill: transparent;
    stroke-width: 2px;
    stroke: var(--main-text);
}

.is-open > .nav-item > .modal-text:hover{
  color: var(--aсcent-collor-hover);
}


.order-btn {
    display: none;
}

/* .open-burger:hover,
.open-burger:focus {
    fill: var(--aсcent-collor-hover);
} */s

.burger-icon:hover{
    stroke: var(--aсcent-collor-hover);
}


.change-theme {
    display: block;
    border-radius: 60px;
    background: var(--akcent-collor);
    border: none;
    width: 60px;
    height: 35px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
    transform: translateX(-45px);
}

.change-theme:hover,
.change-theme:focus {
    background-color: var(--aсcent-collor-hover);
}

.modal-close-btn:hover{
 stroke: var(--aсcent-collor-hover);
}

.modal-close-btn:focus {
    stroke: var(--aсcent-collor-hover);
}

@media screen and (max-width:345px){
    .change-theme{
        transform: translateX(-15px);
    }
    
}

@media screen and (max-width:300px) {
    .change-theme {
        transform: translateX(0px);
    }

}

.modal-link-to-footer {
    position: absolute;
    bottom: 64px;
}

.order-mobile {
    display: block;
    border-radius: 60px;
    background: var(--akcent-collor);
    border: none;
    padding: 14px 31px;
    width: 164px;
    height: 45px;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--main-text);
}

.order-mobile:focus,
.order-mobile:hover {
    background-color: var(--aсcent-collor-hover);
}

/* .nav-item:hover .modal-text,
.modal-text:focus {
  background-color: var(--accent-color-hover);
   
} */

.burger-icon:hover{
    stroke: var(--aсcent-collor-hover);
}

@media screen and (min-width: 768px) {
    .two-btn-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 8px;
    }

    .logo-wrapper {
        flex-grow: 0;
    }

    .nav-menu {
        display: block;
        position: relative;
        width: max-content;
        margin: 0 auto;
        padding-top: 13px;
        /*  */
        position: relative;
        display: inline-block;
        width: max-content;
        margin: 0 auto;
        padding-top: 13px;
        cursor: pointer;

    }

    .menu-button:focus,
    .menu-button:hover {
        color: var(--aсcent-collor-hover);
    }

    .menu-list-item {
        padding-bottom: 7px;
    }

    .burger-icon {
        display: none;
    }

    .order-btn {
        display: block;
        border-radius: 60px;
        background: var(--akcent-collor);
        border: none;
        padding: 14px 31px;
        width: 164px;
        height: 45px;
        font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: -0.02em;
        color: #fafafa;
    }

    .order-btn:hover,
    .order-btn:focus {
        background-color: var(--aсcent-collor-hover);
    }

    .change-theme {
        width: 90px;
        height: 45px;
        transform: translateX(0);


    }
}

@media screen and (min-width: 1440px) {
    .two-btn-wrapper {
        display: flex;
        flex-wrap: nowrap;
        gap: 14px;
    }

    /* .order-btn:hover,
    .order-btn:focus {
        background-color: var(--aсcent-collor-hover);
    } */

    .change-theme {
        /* width: 60px;
            height: 35px; */
    }
}