.header {
    position: absolute;
    padding-top: 32px;
    left: 16px;
    right: 16px;
    width: 100%;
    background-color: transparent;
    z-index: 50;
}

.navigation-header {
    display: none;
}