.hero {
    position: relative;
}

.hero_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background_image img {
    width: 100%;
    height: 100%;
}

.headline1 {
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 212px;
    padding-top: 281px;
}

.social_media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--gap-mob-contacts);
    margin-bottom: 32px;
}

.social_item {
    height: 37px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_link {
    padding: 12px 10px;
    font-size: 14px;
    letter-spacing: -0.02em;
}

.social_link:hover,
.social_link:focus {
    background-color: var(--aсcent-collor-hover);
}

@media screen and (min-width: 375px) {
    .social_media {
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 768px) {
    .headline1 {
        padding-top: 300px;
        margin-bottom: 187px;
        font-size: 90px;
    }

    .social_media {
        gap: var(--gap-contacts);
    }

    .social_item {
        height: 55px;
        background-color: transparent;
    }

    .social_link {
        padding: 18px 20px;
        font-size: 16px;
        transition: background-color var(--trns);
    }
}

@media screen and (min-width: 1440px) {
    .headline1 {
        padding: 300px 146px 0 146px;
        margin-bottom: 243px;
    }
}

.inputid {
    background: mediumorchid;
    height: 50px;
}

.button_color {
    background: mediumorchid;
    height: 50px;
}
