.section {
  padding-top: var(--pb-medium);
}
.proj-slide {
  display: flex;
  flex-direction: column;
}
.swiper-container {
  overflow: hidden;
}

/* =================prescription====================== */
.proj-title {
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.proj-slide-prescription {
  padding: 32px;
  background: #fafafa;
  border-radius: 24px 24px 0 0;
}
.proj-list-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  margin-bottom: 96px;
}
.proj-tags-item {
  border: 1px solid rgba(28, 29, 32, 0.2);
  border-radius: 60px;
  padding: 13px 18px;
}
.proj-tags-item p {
  color: #1c1d20;
}
.proj-slide-title {
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  margin-bottom: 32px;
  color: #1c1d20;
}
.proj-link-wrap {
  background-color: var(--akcent-collor);
  border-radius: 60px;
  padding: 13px 32px;
  display: inline-block;
  cursor: pointer;
}
.proj-link-wrap:hover {
  background-color: var(--aсcent-collor-hover);
}
.proj-slide-link {
  color: var(--main-text);
}

/* ====================img-================================= */
.proj-slide-img {
  border-radius: 0 0 24px 24px;
  padding: 100px 16px;
  margin-bottom: var(--mb-medium);
  background: #242527;
}
.proj-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* ===============btns========================== */

.proj-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.proj-nav-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(250, 250, 250, 0.5);
  border-radius: 60px;
  padding: 14px;
}
.proj-arrow-icon {
  fill: var(--main-text);
  width: 24px;
  height: 24px;
}
.proj-btn-prev.swiper-button-disabled,
.proj-btn-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
@media screen and (min-width: 375px) {
  .proj-slide-prescription {
    width: 343px;
  }
  .proj-slide-img {
    width: 343px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: var(--pb-big);
  }
  .proj-slide-prescription {
    width: 704px;
    padding: 64px;
  }
  .proj-list-tags {
    margin-bottom: 164px;
  }
  .proj-tags-item {
    padding: 18px;
  }
  .proj-slide-title {
    font-size: 44px;
    line-height: 1;
    max-width: 494px;
  }
  .proj-link-wrap {
    padding: 18px 50px;
  }
  .proj-slide-img {
    width: 704px;
    padding: 120px 45px;
    margin-bottom: var(--mb-big);
  }
  .proj-btn-wrap {
    gap: 20px;
  }
  .proj-nav-btn {
    padding: 18px;
  }
  .proj-arrow-icon {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: var(--pb-huge);
  }

  .proj-slide {
    flex-direction: row;
  }
  .proj-slide-prescription {
    border-radius: 24px 0 0 24px;
    width: 50%;
    padding: 64px 130px 64px 64px;
    margin-bottom: var(--mb-big);
  }
  .proj-list-tags {
    margin-bottom: 223px;
  }
  .proj-slide-img {
    border-radius: 0 24px 24px 0;
    width: 50%;
    padding: 120px 37px;
  }
}
