@import url('../../node_modules/modern-normalize/modern-normalize.css');
@import url('./null.css');
@import url('./base.css');

.header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
}

main {
  margin-top: 60px;
}

input:focus,
input:active {
  border-color: #000;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  transition: background-color 250ms ease-in-out;
}

button:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 24px;
  margin-bottom: 24px;
  background-color: #fff;
  justify-content: center;
}

.form-search {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.search-input {
  border: 1px solid #000;
  border-radius: 8px;
  padding: 8px;
  font-size: 16px;
}
.card {
  max-width: 360px;
  min-width: 290px;
  width: 100%;
  border: 1px solid #000;
  border-radius: 4px;
}

.card-img {
  width: 100%;
  aspect-ratio: 360 / 200;
  object-fit: cover;
  object-position: center;
}
.card-title {
  display: flex;
  gap: 2px;
  justify-content: space-around;
  align-items: center;
  padding: 4px 4px;
  width: 100%;
}
.card-title-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}
.card-text-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  display: block;
  margin: 150px auto;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  inset: 0px;
  border: 5px solid green;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  border-color: #ff3d00;
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.loadmore-button {
  --lmb-dispay: none;
  display: var(--lmb-dispay);
  margin: 0 auto;
}
